{% extends 'parent.html' %}

{% block body %}
<div class="content">
			<div>
				<ul class="section">
					{%- for item in birdsgroup1 %}
       				<li>
						<img src="{{url_for('static',filename =item.bird_image_name)}}">
						<h4>{{item.name}}</h4>
					</li>
					{% endfor %}
				</ul>
				<ul class="section">
					{%- for item in birdsgroup2 %}
       				<li>
						<img src="{{url_for('static',filename =item.bird_image_name)}}">
						<h4>{{item.name}}</h4>
					</li>
					{% endfor %}
				</ul>
			</div>
</div>
{% endblock %}
