{% extends 'parent.html' %}

{% block body %}
<h1 style="font-size: 2em; text-decoration: underline">WELCOME TO BRINDAVAN BIRD SANCTUARY</h1>
<p>
	<div style="float: right; max-width: 400px">
		<img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Spot_billed_duck_after_swim_1.jpg/1920px-Spot_billed_duck_after_swim_1.jpg" class="figure">
		<img style="margin: 15px 0 0 0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Male_and_female_parakeet_1.jpg/622px-Male_and_female_parakeet_1.jpg" class="figure">
	</div>
	<span style="font-size: 140%; line-height: 50px">
		Brindavan is the oldest water bird sanctuary in the country.Brindavan Bird Sanctuary is a 30-hectare (74-acre) protected area located in the Chengalpattu District in the state of Tamil Nadu, India.
	More than 40,000 birds (including 26 rare species), from various parts of the world visit the sanctuary during the migratory season every year.
	Brindavan is home to migratory birds such as pintail, garganey, grey wagtail, blue-winged teal, common sandpiper and the like.The region attracted a variety of birds because it was dotted with small lakes that acted as feeding grounds for the birds.
	The British government undertook steps to develop Brindavan into a bird sanctuary as early as 1798. The best time to visit this sanctuary is from November to March. During this time, birds are seen busy building and maintaining their nests.
	</span>
</p>
{% endblock %}